.main-load img{
    object-fit: cover;
    display: block;
    padding-top: 50px;
    margin: 0;
    width: 100%;
    height: 100%;
    grid-column: 1/6;
    grid-row: 1/7;
    
  }
  .main-load{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 12% 8% 20% 10% 10% ;
  }
  .main-load h2{
    grid-column: 2/5;
    grid-row: 2/3;
    font-size: 3em;
    text-align: center;
    color: white;
  }
  .main-load a{
    grid-column: 3/4;
    grid-row: 4/5;
    font-size: 1em;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    display: inline-block;
    color: #ffffff;
    
  }
  .main-load a:hover{
    color: #c8c8c8;
    border: 2px solid #c8c8c8;
  }
  .main-golo-semana{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 5% 5% 20% 10% 20% 10% 20% 10%;
    grid-template-rows: 10% 20% 20% 20% 20% 10%;
  }
  .main-golo-semana video{
    width: 560px;
    height: 315px;
    grid-column: 2/4;
    grid-row: 2/6;
  }
  .main-golo-semana h3{
    grid-column: 6/8;
    grid-row: 1/2;
    text-align: center;
    font-size: 2em;
  }
  .main-golo-semana span{
    
    grid-column: 6/8;
    grid-row: 2/4;
    text-align: center;
    text-align: justify;
    font-size: 1.3em;
    margin-top: 40px;
  }



@media screen and (min-width: 0px) and (max-width: 1024px) {
    .main-load h2{
        grid-column: 2/5;
        grid-row: 2/3;
        font-size: 1.5em;
        text-align: center;
        color: white;
      }
      .main-load a{
      grid-column: 3/4;
      grid-row: 4/5;
      font-size: 0.8em;
      text-align: center;
      border: 2px solid #ffffff;
      padding-bottom: 30px;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      color: #ffffff;
      
    }
    .main-golo-semana{
      width: 100%;
      height: 800px;
      display: grid;
      grid-template-columns: 10% 80% 10%;
      grid-template-rows: 10% 40% 5% 5% 5% 5% 20% 10%;
    }
    .main-golo-semana video{
      width: 100%;
      height: auto;
      grid-column: 2/3;
      grid-row: 2/3;
    }
    .main-golo-semana h3{
      grid-column: 1/4;
      grid-row: 4/5;
      text-align: center;
      font-size: 2.5em;
    }
    .main-golo-semana span{
      
      grid-column: 2/3;
      grid-row: 6/8;
      text-align: center;
      font-size: 1.5em;
      margin-top: 40px;
    }
}