#cointer-jogos{
    padding-top: 80px;
  
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 5% 90% 5%;
  }
  .conteiner{
    background-color: white;
    border: white 2px solid;
    border-radius: 35px;
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 2.5% 10% 2.5% 20% 20% 20% 20% 5%;
    grid-template-columns: 10% 80% 10%;
  }
  .cointer-jogos-titulo{
    grid-row: 2/3;
    grid-column: 1/4;
    color: black!important;
  }
  .cointer-jogos-titulo h1{
    text-align: center;
  }
  .Jogo1{
    border: #000 1px solid;
    grid-row: 4/5;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 5% 90% 5%;
  }
  .Jogo2{
    border: #000 1px solid;
    grid-row: 5/6;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 5% 90% 5%;
    background-color: lavender;
  }
  .Jogo3{
    border: #000 1px solid;
    grid-row: 6/7;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 5% 90% 5%;
  }
  .Jogo4{
    border: #000 1px solid;
    grid-row: 7/8;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 5% 90% 5%;
    background-color: lavender;
  }
  #cointer-jogos h1{
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black!important;
  
  }
  .Divider{
    grid-row: 1/4;
    grid-column: 1/2;
    border-right: #000 1px dotted;
  }
  .conteiner-resultado{
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 5% 35% 20% 35% 5%;
    grid-template-rows: 10% 80% 10%;
  }
  .home-team{
    grid-row: 1/4;
    grid-column: 2/3;
    display: flex;
    justify-content: end;
    align-items: center;
    border-right: #000 solid 2px;
  }
  .home-team h2{
    color: black!important;
    text-align: center;
  }
  .away-team{
    grid-row: 1/5;
    grid-column: 4/5;
    display: flex;
    justify-content: start;
    align-items: center;
    border-left: #000 solid 2px;
  }
  .away-team h2{
    color: black!important;
    text-align: center;
  }
  .conteiner-resultado img{
    width:  20%;
    height: auto;
  }
  .Resultado{
    grid-row: 2/3;
    grid-column: 3/4;
    display: grid;
    grid-template-rows: 30% 40% 30%;
  }
  
  .Resultado div{
    grid-row: 2/3;
    background-image: linear-gradient(white, grey);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black!important;
  }
  @media screen and (min-width: 0px) and (max-width: 1024px) {
    .Jogo1{
        border: #000 1px solid;
        grid-row: 4/5;
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 5% 90% 5%;
        font-size: 0.5em;
      }
    .Jogo2{
        border: #000 1px solid;
        grid-row: 5/6;
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 5% 90% 5%;
        font-size: 0.5em;
      }
    .Jogo3{
        border: #000 1px solid;
        grid-row: 6/7;
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 5% 90% 5%;
        font-size: 0.5em;
      }
    .Jogo4{
        border: #000 1px solid;
        grid-row: 7/8;
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 5% 90% 5%;
        font-size: 0.5em;
      }
      .Divider{
        grid-row: 1/4;
        grid-column: 1/2;
        border-right: #000 1px dotted;
      }
      .conteiner-resultado{
        grid-row: 1/4;
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 5% 35% 20% 35% 5%;
        grid-template-rows: 10% 80 10%;
      }
      .home-team{
        grid-row: 1/5;
        grid-column: 2/3;
        display: flex;
        justify-content: end;
        align-items: center;
        border-right: #000 solid 2px;
      }
      .home-team h2{
        color: black!important;
        text-align: center;
      }
      .away-team{
        grid-row: 1/5;
        grid-column: 4/5;
        display: flex;
        justify-content: start;
        align-items: center;
        border-left: #000 solid 2px;
      }
      .away-team h2{
        color: black!important;
        text-align: center;
      }
      .conteiner-resultado img{
        width:  40%;
        height: auto;
      }
      .Resultado{
        grid-row: 2/3;
        grid-column: 3/4;
        display: grid;
        grid-template-rows: 30% 40% 30%;
      }
      
      .Resultado div{
        grid-row: 2/3;
        background-image: linear-gradient(white, grey);
        display: flex;
        justify-content: center;
        align-items: center;
        color: black!important;
      }
      .cointer-jogos-titulo h1{
        text-justify: auto;
        text-align: center;
        font-size: 1.5em;
      }
      
      
  }  