body{
  background-color: #717171;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  color: #ffffff;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items:center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(33, 32, 32);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}
.navbar-list a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar-list a:hover {
  background-color: rgb(97, 97, 97);
}
.navbar-signup{
  text-decoration: underline;
}
#boavista-logo{
  height: 45px;
  width: 45px;
}
.main-load img{
  display: block;
  padding-top: 50px;
  margin: 0;
  width: 100%;
  height: 100%;
  grid-column: 1/6;
  grid-row: 1/7;
  
}
.main-load{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 12% 8% 20% 10% 10% ;
}
.main-load h2{
  grid-column: 2/5;
  grid-row: 2/3;
  font-size: 3em;
  text-align: center;
  color: white;
}
.main-load a{
  grid-column: 3/4;
  grid-row: 4/5;
  font-size: 1em;
  text-align: center;
  border: 2px solid #ffffff;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 20px;
  display: inline-block;
  color: #ffffff;
  
}
.main-load a:hover{
  color: #c8c8c8;
  border: 2px solid #c8c8c8;
}
.main-golo-semana{
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: 5% 5% 20% 10% 20% 10% 20% 10%;
  grid-template-rows: 10% 20% 20% 20% 20% 10%;
}
.main-golo-semana iframe{
  width: 560px;
  height: 315px;
  grid-column: 2/4;
  grid-row: 2/6;
}
.main-golo-semana h3{
  grid-column: 6/8;
  grid-row: 1/2;
  text-align: center;
  font-size: 2em;
}
.main-golo-semana span{
  
  grid-column: 6/8;
  grid-row: 2/4;
  text-align: center;
  font-size: 1.3em;
  margin-top: 40px;
}
.footer{
  background-color: rgb(31, 31, 31);
  width: 100%;
  height: 425px;
  display: grid;
  grid-template-columns: 10% 15% 25% 20% 20% 10%;
  grid-template-rows: 10% 20% 20% 20% 15% 15%; 
}
.footer .Contactos{
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 1.3em;
  text-decoration: underline;
}
.footer iframe{
  grid-row: 2/3;
  grid-column: 4/7;
  padding-left: 25px;
}
.footer span{
  grid-row: 3/4;
  grid-column: 2/3;

}
.Estadio-titulo{
  grid-column: 3/5;
  grid-row: 2/3;
  font-size: 1.3em;
  text-decoration: underline;
  text-align: center;
}
#clube-body{
  background-color: #ffffff!important;

}
.title_club_gk{
  width: 100%;
  height: 228px;
  display: grid;
  grid-template-columns: 10% 23.3% 5% 23.3% 5% 23.3% 10%;
  grid-template-rows: 10% 80% 10%;
  padding-top: 75px;
  color: rgb(29, 29, 29);
  font-size: 15px!important;
}
.title_club{
  width: 100%;
  height: 228px;
  display: grid;
  grid-template-columns: 10% 23.3% 5% 23.3% 5% 23.3% 10%;
  grid-template-rows: 10% 80% 10%;
  color: rgb(29, 29, 29);
  font-size: 15px!important;
}
.title_club_header{
  padding-left: 35px;
  margin-top: 150px;
}
.item_club_1{
  border: black solid 2px;
  border-radius: 10px;
  grid-column: 2/3;
  grid-row: 2/3;

  display: grid;
  grid-template-columns: 10% 20px 20px 40px 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.item_club_2{
  border: black solid 2px;
  border-radius: 10px;
  grid-column: 4/5;
  grid-row: 2/3;

  display: grid;
  grid-template-columns: 10% 20px 20px 40px 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}
.item_club_3{
  border: black solid 2px;
  border-radius: 10px;
  grid-column: 6/7;
  grid-row: 2/3;

  display: grid;
  grid-template-columns: 10% 20px 20px 40px 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}
.player_name{
  grid-row: 1/4;
  grid-column: 2/6;
  text-align: center; 
  
}
.player_class{
  grid-column: 2/6;
  grid-row: 8/9;
  text-align: center;
  color: #717171!important;
}
.player_number{
  grid-column: 2/6;
  grid-row: 4/5;
  text-align: center;
  font-weight: bolder;
  font-size: 20px!important;
}
.player_image{
  margin-top: 5px;
  border: black solid 1px;
  width: 125px;
  height: 165px;
}
.player_image_div{
  grid-column: 8/9;
  grid-row: 1/6;
}
.div_Loja{
  padding-top: 75px;
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: 10% 23.3% 5% 23.3% 5% 23.3% 10%;
  grid-template-rows: 10% 80% 10%;
  color: rgb(29, 29, 29);
  font-size: 15px!important;
}

.card_1{
  grid-column: 2/3;
  grid-row: 2/3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  background-color: #ffffff;
  margin: auto;
  text-align: center;
}
.card_2{
  grid-column: 4/5;
  grid-row: 2/3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  background-color: #ffffff;
  margin: auto;
  text-align: center;
}
.card_3{
  grid-column: 6/7;
  grid-row: 2/3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  background-color: #ffffff;
  margin: auto;
  text-align: center;
}
.card img{
  width: 100%;
}
.price {
  color: grey;
  font-size: 22px;
}

.card_btn {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card_btn:hover {
  opacity: 0.7;
}
.main-login{
  display: grid;
  padding-top: 50px;
  height: 650px;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 22.5% 55% 22.5%;
}
.main-login img{
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  grid-column: 1/4;
  grid-row: 1/4;
}

.main-login .Form-login{
  background-color: grey;
  border: white 2px solid;
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 10% 10% 80%;
}

input[type=text], input[type=password],input[type=email] {
  width: 97%;
  padding: 5px;
  padding-left: 10px;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus,input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}
.registerbtn {
  background-color: #04AA6D;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}
.Form-login h3{
  grid-column: 2/4;
  grid-row: 1/2;
  text-align: center;
}

.Form-login p{
  grid-column: 2/4;
  grid-row: 2/3;
  text-align: center;
  font-size: 1em;
}
.Form-login form{
  grid-column: 2/4;
  grid-row: 3/4;
  font-size: 1em;
  display: grid;
  grid-template-rows: 25% 5% 25% 5% 25% 10%;
}
.Username_Label{
  grid-row: 1/2;
}
.Email_Label{
  grid-row: 3/4;
}
.Password_Label{
  grid-row: 5/6;
}
.Reg_label{
  grid-row: 6/7;
}
#cointer-jogos{
  padding-top: 80px;

  width: 100%;
  height: 900px;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 5% 90% 5%;
}
.conteiner{
  background-color: white;
  border: white 2px solid;
  border-radius: 35px;
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 5% 5% 5% 15% 20% 20% 20% 10%;
  grid-template-columns: 10% 80% 10%;
}
.cointer-jogos-titulo{
  grid-row: 2/3;
  grid-column: 1/4;
  color: black!important;
}
.cointer-jogos-titulo h1{
  text-align: center;
}
.Jogo1{
  border: #000 1px solid;
  grid-row: 4/5;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 5% 90% 5%;
}
.Jogo1 h1{
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black!important;

}
.Divider{
  grid-row: 1/4;
  grid-column: 1/2;
  border-right: #000 1px dotted;
}
.conteiner-resultado{
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 5% 35% 20% 35% 5%;
  grid-template-rows: 10% 80% 10%;
}
.home-team{
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  justify-content: end;
  align-items: center;
}
.home-team h2{
  color: black!important;
  text-align: center;
}

































.Jogador_conteiner{
  padding-top: 80px;
  height: 650px;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 80% 10%;
}
.Foto_jogador{
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 50% 30% 20%;
  grid-template-rows: 20% 20% 20% 20% 20% ;
  text-align: center;
}
.Foto_jogador img{
  grid-column:1/2 ;
  grid-row: 1/6;
  width: auto;
  height: 100%;
  border: black solid 1px;
}
.text_jogador{
  grid-column: 2/4;
  grid-row: 1/6;
  border-left: #000 dotted 2px;
}
.text_jogador h1{
  padding-left: 5px;
  text-align: left;
}
.text_jogador h3{
  padding-left: 25px;
  text-align: left;
}







@media screen and (max-width: 765px){
  .main-load h2{
    grid-column: 2/5;
    grid-row: 2/3;
    font-size: 2.5rem;
    text-align: center;
    color: white;
  }
  .main-load img{
    padding-top: 80px; 
  }
  }